* {
  margin:0;
  padding:0;
  font: 14px Lato, Arial, sans-serif;
}

a {
    color:#FE2E64 !important;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;    
}

i {
    font-style: italic;
}

html,body {
    height:100%;
}

body {
    overflow: hidden;
}

strong, b {
    font-weight: bold !important;
}

#map {
  position:absolute;
  padding:0;
  margin:0;
  width:100%;
  left:0;
  top:0;
  bottom:58px;
}

#wrapper {
    position:relative;
    height:100%;
    padding:0;
    margin:0;
}

.slider {
    position:relative;
    display:block;
    width:100%;
    height: 58px;
    z-index:50;
    background-color:#D8D8D8;
}

.slider .reference-container {
    position:relative;
    margin:0 auto;
    width:60%;
    height: 16px;
    padding-top:22px;
}

.slider .reference {
    position:relative;
    width:100%;
    height: 100%;
    cursor:pointer;
    float:right;
    background-color: #6E6E6E;
    border-radius: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.year-hover{
    display: none;
    position:absolute;
    bottom:17px;
    height:16px;
    text-align: center;
    border-radius: 3px;
    width:42px;
    line-height:15px;
    margin-left: -25px;
    color:white;
    background-color: #1C1C1C;
}

.slider .reference .vertical_line {
    position:absolute;
    height: 75%;
    color:white;
    font-size:13px;
    text-align:center;
}

.year-marker {
    position:absolute;
    bottom:0;
    height:100%;
    width:4px;
    background-color: #FE2E64;
    z-index:100;
}

.slider .reference .content {
    position:absolute;
    top:50%;
    height: 50%;
    left:0;
    width: 100%;
}
.slider .share {
    float:right;
    margin:10px;
    margin-right:15px;
    margin-top: 18px;
    position:relative;
}

.current-year-container {
    display:inline-block;
    position:absolute;
    margin:2%;
    padding:2px 10px;
    left:0;
    top:0;
    background-color:white;
    border-radius:3px;    
    box-shadow:0 1px 2px rgba(0,0,0,0.10);
    display: none;
}

.city-container {
    margin-top:5px;
    margin-bottom:5px;    
}

.city {
    display:inline-block;
    font-size:22px;
    font-weight:bold;
    color:#585858;
}

.current-year{
    font-size:22px;
    color:#585858;
    border:none;
    background-color:transparent;
    margin-left:10px;
    font-weight:bold;
}

.current-year-container .information {
    padding-left:3px;
    padding-right:7px;
    padding-bottom:5px;
    color:#585858;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    display:none;
}

small {
    letter-spacing: 0.35px;
    font-size: 0.85em;
    }

.info-window li {
    list-style-type: none;
    color:#424242;
}

/*
Spinner
-------

Taken from http://stephanwagner.me/only-css-loading-spinner
*/

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 24px;
    min-height: 24px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

/* -- - --*/

.spinner-container {
    width: 100%;
    height:100%;
    background-color: #F2F2F2;
    opacity:1;
    position:absolute;
    top:0;
    left:0;
    display:none;
    z-index:10000;
}


@media (max-width: 1000px){
    .slider .reference-container{
       width:50% !important;
    }
}


@media (max-width: 760px){
    .hover_year {
        display: none !important;
    }

    .first_year,.last_year{
        font-size: 10px ;
    }

    .reference-container{
        display:none;
    }

/*
    .plan-label div{
        font-size:12px;
        }

    .plan-label small {
        font-size:0.6em;
        }
*/
    .plan-link {
      margin-right:0 !important; 
    }

    .panel .content.layers {
     padding-left:5px !important;    
    }
}

.logo {
    position: relative;
    display:inline-block;
    text-align: center;
    line-height: 55px;
    float: left;
    padding-right: 5px;
    width:170px;
    height:100%;
    color: #6E6E6E;
    text-shadow: 0 1px 0 #fff;
    font-size: 22px;
    font-weight:bold;
}


.footer{
    display:none;
    position:absolute;
    bottom:0;    
    width:100%;
}

.panel-container {
    display:block;
    position:relative;
    width:100%;
    z-index:40;
}
.panel {
    display:none;
    width:100%;
    background-color: white;
    box-shadow:0 -1px 2px rgba(0,0,0,0.10);
}

.tab-container{
    display:inline-block;
    margin-bottom:-3px;
}

.tab{
    float:left;
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    width:26px;
    height:22px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 8px;
    background-color: white;
    padding:5px;
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow:0 3px 1px #fff,0 -1px 2px rgba(0,0,0,0.10);
    display:inline-block;
}

.tab.layers {
    background-image: url('img/layers.png');
}

.tab.about {
    background-image: url('img/about.png');
}


.tab.not-selected {
    background-color: #E6E6E6;
}

/*ul.lines {
    padding:5px;
    padding-bottom: 8px;
}*/

ul.lines li{
    list-style-type: none;
    padding:2px;
    padding-bottom:0;
    margin-top:5px;
    display:inline-block;
    position:relative;
}

ul.plan-list {
    display: inline-block;
    }
ul.plan-list li{
    list-style-type: none;
    margin-top:0;
    display:inline-block;
    position:relative;
}

.panel .content.about{
    display:none;
/*    padding:13px 16px 16px 16px;*/
    color:#424242;
    padding-left:15px;
}

.panel .content {
    padding:10px;
}

/* Checkbox inspired from
http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    float:left;
    display:inline-block;
    min-width:18px;
    text-align: center;
    padding:5px;
    margin:-1px 1px 0 1px;
    vertical-align:middle;
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
}
input[type="checkbox"]:checked + label {
    color:white;
    /*border: solid 1px transparent;*/
    box-shadow:0 1px 2px rgba(0,0,0,0.20);
}

input[type="checkbox"]:not(:checked) + label {
    color:#424242 !important;
    background-color:#efefef !important;
    /*border:1px solid #A4A4A4;*/
}


input[type="checkbox"]:not(:checked) + label:hover {
    background-color:#E6E6E6 !important;
}
.lines-label {
}
.plan-label {
    background-color:#D8D8D8;
    padding-right:4px !important;
    padding-left:4px !important;
    border-radius:6px;
    width:auto;
    margin-right:5px;
}

.plan-label div {
    color:#585858;
    float:left;
    display:inline-block;
    width:auto;
    text-align: center;
    padding-top:6px;
    padding-left:4px;
    text-transform: lowercase;
}

.plan-label div:first-letter {
    text-transform: uppercase;
}

.plan-link {
    width: 13px;
    height: 13px;
    float: left;
    cursor: pointer;
    margin-right:5px; 
    margin-top:8px;
    margin-left:3px;
}

.action-container {
    position:absolute;
    width:30px;
    left:-27px;
    height:16px;
    bottom:1px;
}

.action {
    cursor:pointer;
    color: #6E6E6E;
}


/* CSS bug fix for slideToggle */
ol.message_list { position: relative }

.mapboxgl-popup-content {
    color:#424242 !important;
    padding-top:15px !important;    
    padding-right:10px !important;

    -webkit-filter: blur(0);
    -webkit-transform: translate3d(-0.01%, -0.01%, 0);
    transform: translate3d(-0.01%, -0.01%, 0);
}

.mapboxgl-popup-close-button {
    margin-right:7px;
    font-size:18px !important;    
}

.info-toggler {
    color:#585858;
    position:absolute;
    bottom:5px;
    right:5px;
}

.info-toggle:hover {
    color:black;    
}
