* {
  margin:0;
  padding:0;
  font: 14px Ubuntu, Arial, sans-serif;
}
#map {
  position:absolute;
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.slider {
    position:fixed;
    width:100%;
    height: 58px;
    bottom:0;
    left:0;
    display: none;
}

.slider .background {
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color: #BDBDBD;
}

.slider .reference {
    width:60%;
    height: 100%;
    position:relative;
    margin:0 auto;
    margin-top: 9px;
}


.slider .reference .vertical_line {
    background-color: #F781F3;
    position:absolute;
    height: 15%;
    top:35%;
    cursor:pointer;
    border-bottom: 1px solid #585858;
}

.slider .reference .vertical_line:nth-child(odd) {
    background-color: #E6E6E6;
}
.slider .reference .vertical_line:hover {
    background-color: #888 !important;
}

.slider .reference .content {
    position:absolute;
    top:50%;
    height: 50%;
    left:0;
    width: 100%;
}
.slider .share {
    float:right;
    margin:10px;
    margin-top: 18px;
    position:relative;
}

.slider .reference .first_year{
    position:relative;
    float:left;
    color:#585858;
    padding:5px;
    font-size:12px;
    text-shadow: 0px 1px 0px #ffffff;
}

.slider .reference .hover_year{
    position:absolute;
    margin-left: -50px;
    left:50%;
    width:100px;
    color:#585858;
    padding:5px;
    text-align: center;
    font-size:12px;
    text-shadow: 0px 1px 0px #ffffff;
}

.slider .reference .last_year{
    position:relative;
    float:right;
    color:#585858;
    padding:5px;
    font-size:12px;
    text-shadow: 0px 1px 0px #ffffff;
}

.current-year{
    font-size:50px;
    color:#424242;
    position:absolute;
    width:130px;
    padding: 5px;
    left:0;
    margin: 2%;
    top:0;
    background-color: white;
    border-radius: 4px;
    display: none;
    border:none;
}

.info-window li {
    list-style-type: none;
    color:#424242;
}

/*
Spinner
-------

Taken from http://stephanwagner.me/only-css-loading-spinner
*/

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 24px;
    min-height: 24px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

/* -- - --*/

.spinner-container {
    width: 100%;
    height:100%;
    background-color: white;
    opacity:0.5;
    position:absolute;
    top:0;
    left:0;
    display:none;
    z-index:1000;
}

@media (max-width: 630px){
    .hover_year {
        display: none !important;
    }

    .first_year,.last_year{
        font-size: 10px ;
    }

    .reference{
        display:none;
    }
}

.leaflet-popup-content-wrapper {
    border-radius: 5px;
}

.logo {
    position: relative;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 57px;
    float: left;
    margin-top: 1px;
    padding-right: 5px;
    width: 170px;
    height: 100%;
    color: #424242;
    font-size: 25px;
    border-radius: 3px;
    font-style: italic;
    text-shadow: 0 1px 0 #fff;
}

.panel-container {
    position:absolute;
    bottom:9px;
    width:100%;
}
.panel {
    display:inline-block;
    width:100%;
    background-color: white;
}

.layers-tab{
    background-image: url('img/layers.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    width:26px;
    height:22px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 8px;
    background-color: white;
    padding:5px;
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.layers-tab:hover {
    background-color: #F2F2F2;
}
ul.lines {
    padding:5px;
    margin-top: 5px;
}
ul.lines li{
    list-style-type: none;
    padding:2px;
    margin-left:5px;
    display:inline-block;
    position:relative;
}


/* Checkbox inspired from
http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    color:#424242;
    float:left;
    display:inline-block;
    width:18px;
    text-align: center;
    padding:5px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    border-radius: 3px;
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type="checkbox"]:checked + label {
    color:white;
    border: solid 1px transparent;
    border-bottom: 1px solid #585858;
}

input[type="checkbox"]:not(:checked) + label {
    background-color: transparent !important;
    border:1px solid #BDBDBD;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}