* {
  margin:0;
  padding:0;
  font: 14px Ubuntu, Arial, sans-serif;
}
#map {
  position:absolute;
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.slider {
    position:fixed;
    width:100%;
    height: 58px;
    bottom:0;
    left:0;
    display: none;
}

.slider .background {
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color: #BDBDBD;
    border-top: solid 1px #585858;
}

.slider .reference {
    width:60%;
    height: 100%;
    position:relative;
    margin:0 auto;
    margin-top: 9px;
}


.slider .reference .vertical_line {
    background-color: #F781F3;
    position:absolute;
    height: 15%;
    top:35%;
    cursor:pointer;
    border-bottom: 1px solid #585858;
}

.slider .reference .vertical_line:nth-child(odd) {
    background-color: #E6E6E6;
}
.slider .reference .vertical_line:hover {
    background-color: #888 !important;
}

.slider .reference .content {
    position:absolute;
    top:50%;
    height: 50%;
    left:0;
    width: 100%;
}
.slider .share {
    float:right;
    margin:10px;
    margin-top: 19px;
    position:relative;
}

.slider .reference .first_year{
    position:relative;
    float:left;
    color:#585858;
    padding:5px;
    font-size:12px;
    text-shadow: 0px 1px 0px #ffffff;
}

.slider .reference .hover_year{
    position:absolute;
    margin-left: -50px;
    left:50%;
    width:100px;
    color:#585858;
    padding:5px;
    text-align: center;
    font-size:12px;
    text-shadow: 0px 1px 0px #ffffff;
}

.slider .reference .last_year{
    position:relative;
    float:right;
    color:#585858;
    padding:5px;
    font-size:12px;
    text-shadow: 0px 1px 0px #ffffff;
}

.current-year{
    font-size:50px;
    color:#2E2E2E;
    position:absolute;
    width:115px;
    padding: 5px;
    left:0;
    margin: 2%;
    top:0;
    background-color: white;
    border-radius: 3px;
    opacity: 0.8;
    border: 1px solid #BDBDBD;
    display: none;
}

.info-window li {
    list-style-type: none;
    color:#424242;
}

/*
Spinner
-------

Taken from http://stephanwagner.me/only-css-loading-spinner
*/

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 24px;
    min-height: 24px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

/* -- - --*/

.spinner-container {
    width: 100%;
    height:100%;
    background-color: white;
    opacity:0.5;
    position:absolute;
    top:0;
    left:0;
    display:none;
    z-index:1000;
}

@media (max-width: 630px){
    .hover_year {
        display: none !important;
    }

    .first_year,.last_year{
        font-size: 10px ;
    }
}

.leaflet-popup-content-wrapper {
    border-radius: 5px;
}

.app {
    position: relative;
    float: left;
    padding: 7px;
    margin: 7px;
    margin-top: 7px;
    color: #424242;
    font-size: 25px;
    border-radius: 3px;
    font-style: italic;
    text-shadow: 0 1px 0 #fff;
}

.menu {
    position: relative;
    width: 181px;
    height: 100%;
    float: left;
    top: 1px;
    cursor: pointer;

}

.menu:hover {
    background-color: #A4A4A4;
}

.panel {
    display: none;
    position:absolute;
    bottom:57px;
    width:100%;
    background-color: white;
    border-top: solid 1px #585858;
    border-bottom: solid 1px #848484;
}

ul.lines {
    padding:10px;
    margin-top: 5px;
}
ul.lines li{
    color:#424242;
    list-style-type: none;
    padding:2px;
    margin-left:10px;
    display:inline-block;
    position:relative;
}

ul.lines li .line-reference {
    width:30px;
    height: 8px;
    position:relative;
    margin:4px;
    background-color: black;
    float:left;
    border-bottom: 1px solid #585858;
    border-radius: 2px;
}
ul.lines li .text-reference {
    float:left;
    margin-left: 5px;
}

/* Checkbox inspired from
http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    float:left;
    display:inline-block;
    width:17px;
    height:17px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background-color: #6E6E6E;
    border-radius: 3px;
    cursor:pointer;
}
input[type="checkbox"]:checked + label {
    background-color: #DF01D7;
    border-bottom: 1px solid #585858;
}